$animate: all 0.1s ease-in-out;

.navbar {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;

    @media screen and (min-width: $desktop) {
        padding: 0 40px
    }
}

.twelveinch-items {
    li {
        a {
            color: #1f1f1f;
            font-size: 0.76rem;
            /*font-weight: 300;*/
            text-transform: uppercase;

            &:hover {
                color: #CC1D53;
            }

            @media screen and (min-width: $desktop) {

                &:before, &:after {
                    content: " ";
                    position: absolute;
                    /*transition: $animate;
                    transition-duration: 0.1s;*/
                    display: block;
                    bottom: 0;
                    height: 1px;
                    left: 50%;
                    background: #CC1D53;
                    width: 0%;
                    }

                &:hover:after {
                    width: 75%;
                    left: 12.5%;
                }
            }
        }
    }
}

.navbar-end {
    padding: 0.3rem 1.2rem;

    @media screen and (min-width: $desktop) {
        margin-left: 46px;
    }
}

.navbar-item {
    padding: 0.3rem 1.2rem;
}

.twelveinch-navbar-end {
    .twelveinchLanguageMenu {
        font-size: 0.76rem;

        a {
            color: #1f1f1f;

            &:hover {
                color: #CC1D53;
            }
        }
    }

    a {
        margin-left: 10px;

        img {
            @media screen and (min-width: $desktop) {
                display: inline;
            }
        }
    }
}
