$animate: all 0.1s ease-in-out;

.navbar {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0;
    /*background-color: transparent;*/

    @media screen and (min-width: $desktop) {
        padding: 0 40px;
    }
}

.navbar-burger span {
    height: 2px;
}

.navbar-burger {
    margin-left: 0;
}

.navbar-brand {
    .navbar-item {
        margin: 0 auto;

        @media screen and (max-width: $desktop)  {
            img {
                width: 100px;
            }
        }
    }
}

.copyright-mobil {
    opacity: 0;
    transition: opacity .2s ease-in-out 0s;
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%,0);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;

    img {
        width: 100px;
    }
}

.twelveinch-navbar-bag-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;

    a {
        height: 18px;
    }

    @media screen and (min-width: $desktop)  {
        display: none;
    }
}

.twelveinch-navbar-secondmenu-desktop {
    @media screen and (max-width: $desktop) {
        display: none;
    }
}

.twelveinch-items {

    li {
        opacity: 0;
        transition: opacity .2s ease-in-out 0s;
        @media screen and (min-width: $desktop)  {
            opacity: 1;
        }
        a {
            color: $black;
            font-size: 2rem;
            font-weight: 900;
            text-transform: uppercase;

            &:hover {
                color: $red;
            }

            @media screen and (min-width: $desktop) {
                font-size: 0.8rem;
                font-weight: 600;

                &:before, &:after {
                    content: " ";
                    position: absolute;
                    /*transition: $animate;
                    transition-duration: 0.1s;*/
                    display: block;
                    bottom: 0;
                    height: 1px;
                    left: 50%;
                    background: $red;
                    width: 0%;
                    }

                &:hover:after {
                    width: 75%;
                    left: 12.5%;
                }
            }
        }
        @media screen and (max-width: $desktop) {
            &:first-child {
                margin-top: 20px;
            }
        }
    }
}

.navbar-end {
    padding: 0.3rem 1.2rem;

    @media screen and (min-width: $desktop) {
        margin-left: 46px;
    }
}

.navbar-item, .navbar-end {
    padding: 0.3rem 3rem;
    @media screen and (min-width: $desktop){
        padding: 0.3rem 1.2rem;
    }
}

@include until($desktop) {
    .navbar-menu {
        display: block;
        padding: 0;
        height: 0vh;
        transition: height .8s cubic-bezier(0.83, 0, 0.17, 1);
        pointer-events: none;
        box-shadow: none;
    }

    .navbar-menu.is-active {
        pointer-events: auto;
        height: 100vh;
    }

    .is-active {
        .twelveinch-items li:first-child {opacity: 1;transition: opacity .6s ease-in-out .25s;}
        .twelveinch-items li:nth-child(2) {opacity: 1;transition: opacity .6s ease-in-out .3s;}
        .twelveinch-items li:nth-child(3) {opacity: 1;transition: opacity .6s ease-in-out .35s;}
        .twelveinch-items li:nth-child(4) {opacity: 1;transition: opacity .6s ease-in-out .4s;}
        .twelveinch-items li:nth-child(5) {opacity: 1;transition: opacity .6s ease-in-out .45s;}
        .twelveinch-items li:nth-child(6) {opacity: 1;transition: opacity .6s ease-in-out .5s;}
        .twelveinch-mobile-navbar-end a:first-child {opacity: 1;transition: opacity .6s ease-in-out .55s;}
        .twelveinch-mobile-navbar-end a:nth-child(2) {opacity: 1;transition: opacity .6s ease-in-out .6s;}
        .twelveinch-mobile-navbar-end a:nth-child(3) {opacity: 1;transition: opacity .6s ease-in-out .65s;}
        .copyright-mobil {opacity: 1;transition: opacity .6s ease-in-out 0.7s;}
    }

}

.twelveinch-mobile-navbar-end {
    a {
        opacity: 0;
        transition: opacity .2s ease-in-out 0s;
        display: block;
        color: $black;
        font-size: 1rem;
        text-transform: capitalize;
        padding: 5px 0;

        &:hover {
            color: $red;
        }
    }
    @media screen and (min-width: $desktop){
        display: none;
    }
}

.twelveinch-desktop-navbar-end {
    .twelveinchLanguageMenu {
        font-size: 2rem;
        font-weight: 900;

        @media screen and (min-width: $desktop) {
            font-size: 0.8rem;
            font-weight: 600;
        }
    }

    a {
        color: $black;

        &:hover {
            color: $red;
        }

        img {
            display: block;
        }
    }

    @media screen and (min-width: $desktop) {
        a {
            margin-left: 10px;
        }
    }

    @media screen and (max-width: $desktop) {
        display: none;
    }
}
