$animate: all 0.5s ease-in-out;

.navbar {

    /*background-color: transparent;*/
    @media screen and (min-width: $desktop) {
        max-width: 1500px;
        margin: 0 auto;
        padding: 0;
        padding: 0 calc(40px - 1.2rem);
    }
}

.navbar-start {
    margin-right: auto;
}

.navbar-brand {
    /*@media screen and (min-width: $desktop) {
        margin-right: 59px;
    }*/
}

.navbar-burger span {
    height: 2px;

    &:nth-child(2) {
        width: 20px;
    }
}

.navbar-burger {
    margin-left: 0;
}

.navbar-brand {
    .navbar-item {
        margin: 0 auto;
    }
}

.copyright-mobil {
    opacity: 0;
    transition: opacity .2s ease-in-out 0s;
    position: fixed;
    left: 50%;
    bottom: 40px;
    transform: translate(-50%,0);
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;

    img {
        width: 130px;
    }
}

.twelveinch-navbar-bag-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;

    a {
        height: 18px;
    }

    @media screen and (min-width: $desktop)  {
        display: none;
    }
}

.twelveinch-navbar-secondmenu-desktop {
    @media screen and (max-width: $desktop) {
        display: none;
    }
}

.twelveinch-items {
        overflow: hidden;

    li {
        opacity: 0;
        transition: opacity .2s ease-in-out 0s;
        @media screen and (min-width: $desktop)  {
            opacity: 1;
        }
        a {
            color: $black;
            font-size: 9vw;
            line-height: 1.2;
            font-weight: 900;
            text-transform: lowercase;

            &:hover {
                color: $red;
            }

            @media screen and (min-width: $desktop) {
                font-size: 0.8rem;
                font-weight: 600;


                /*&:before, &:after {
                    content: " ";
                    position: absolute;
                    background-color: transparent;
                    transition: $animate;
                    display: none;
                    opacity: 0;
                    bottom: 0;
                    border:1px solid $red;
                    border-radius: 50%;
                    -moz-border-radius:50%;
                    -webkit-border-radius:50%;
                    width: 0;
                    height: 0;
                    }

                &:hover:after {
                    opacity: 1;
                    display: block;
                    width: 35px;
                    height: 35px;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                }*/
            }
        }

        &:first-child {
            margin-top: 1rem;
        }

        @media screen and (min-width: $desktop) {
            &:first-child {
                margin-top: 0;
            }
        }
    }
}

.navbar-item, .navbar-end {
    padding: 0.4rem 1.4rem;
    @media screen and (min-width: $desktop){
        padding: 0.3rem 1.2rem;
    }
}

@include until($desktop) {
    .navbar-menu {
        display: block;
        padding: 0;
        height: 0vh;
        transition: height .8s cubic-bezier(0.83, 0, 0.17, 1);
        pointer-events: none;
        box-shadow: none;
    }

    .navbar-menu.is-active {
        pointer-events: auto;
        height: 100vh;
    }

    .is-active {
        .twelveinch-items li:first-child {opacity: 1;transition: opacity .6s ease-in-out .25s;}
        .twelveinch-items li:nth-child(2) {opacity: 1;transition: opacity .6s ease-in-out .3s;}
        .twelveinch-items li:nth-child(3) {opacity: 1;transition: opacity .6s ease-in-out .35s;}
        .twelveinch-items li:nth-child(4) {opacity: 1;transition: opacity .6s ease-in-out .4s;}
        .twelveinch-items li:nth-child(5) {opacity: 1;transition: opacity .6s ease-in-out .45s;}
        .twelveinch-items li:nth-child(6) {opacity: 1;transition: opacity .6s ease-in-out .5s;}
        .twelveinch-mobile-navbar-end a:first-child {opacity: 1;transition: opacity .6s ease-in-out .55s;}
        .twelveinch-mobile-navbar-end a:nth-child(2) {opacity: 1;transition: opacity .6s ease-in-out .6s;}
        .twelveinch-mobile-navbar-end a:nth-child(3) {opacity: 1;transition: opacity .6s ease-in-out .65s;}
        .copyright-mobil {opacity: 1;transition: opacity .6s ease-in-out 0.7s;}
    }

}

.twelveinch-mobile-navbar-end {
    a {
        opacity: 0;
        transition: opacity .2s ease-in-out 0s;
        display: block;
        color: $black;
        font-size: 4vw;
        text-transform: lowercase;
        padding: 0.2vw 0;

        &:hover {
            color: $red;
        }
    }
    @media screen and (min-width: $desktop){
        display: none;
    }
}

.twelveinch-desktop-navbar-end {

    .marker, .shoppingbag {
        position: relative;

        &:hover {
            img:nth-child(1){opacity: 0;}
            img:nth-child(2){opacity: 1;}
        }

        img:nth-child(1) {
            opacity: 1;
        }

        img:nth-child(2) {
            display: block;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
        }
    }

    .twelveinchLanguageMenu {
        font-size: 2rem;
        font-weight: 900;
        text-transform: lowercase;

        @media screen and (min-width: $desktop) {
            font-size: 0.8rem;
            font-weight: 600;
        }
    }

    a {
        color: $black;

        &:hover {
            color: $red;
        }

        img {
            display: block;
        }
    }

    @media screen and (min-width: $desktop) {
        a {
            margin-left: 10px;
        }
    }

    @media screen and (max-width: $desktop) {
        display: none;
    }
}
