.columns {
    margin: 0;
        flex-wrap: wrap;

        @media screen and (min-width: 415px)  {
            display: flex;
        }

        @media screen and (min-width: $desktop) {
            margin: 0 auto;
            width: 100%;
            max-width: 1500px;
            padding: 0 calc(40px - .4rem);
        }
}

.column {
    padding: 0;
}

.columns-50-50 {
    .column {
        &:first-child {
            flex-grow: 1;
        }
        &:last-child {
            flex-grow: 1;
        }
    }
}

.columns-33-66 {
    .column {
        &:first-child {
            flex-grow: 1;
        }
        &:last-child {
            flex-grow: 2;
        }
    }
}

.columns-66-33 {
    .column {
        &:first-child {
            flex-grow: 5;
        }
        &:last-child {
            flex-grow: 3;
        }

        img {
            object-fit: cover;
            object-position: top;
            @media screen and (min-width: $desktop){
                height: 100%;
                width: 100%;
            }
        }
    }
}
