.productDescription {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    justify-content: center;
    padding: 20px 0;

    @media screen and (min-width: $desktop) {
        padding: 80px;
        /*background-color: white;*/
    }

    .headline {
        text-align: center;
        font-size: 1.5em;
        font-weight: 900;
        @media screen and (min-width: $desktop) {
            font-size: 1.75em;
        }
    }

    .avgratings {
        display: block;
        margin: 10px auto 0;
        font-size: .7em;
        text-align: center;
    }

    img {
        display: block;
        margin: 0 auto;
    }

    .productText {
        text-align: center;
        margin: 40px auto;
    }

    .productPrice {
        display: block;
        margin: 0 auto 10px;
        text-align: center;
        font-size: 1.5em;
        font-weight: 900;
    }

    .stock {
        display: block;
        margin: 10px auto;
        font-size: .7em;
        text-align: center;
        color: $green;
    }
}
