.back-button {
    align-items: center;
    color: $black;
    display: inline-flex;
    margin-bottom: 2em;

    p {
        border-bottom: 2px transparent solid;
        font-weight: 500;
        font-size: .8em;

        &:hover {
            border-bottom: 2px $black solid;
        }
    }

    img {
        margin-right: 6px;
        margin-bottom: 2px;
        max-height: 9px;
        max-width: 9px;
        transform: rotate(90deg);
    }
}

.product-description {
    margin: 1em auto 3em;
    position: relative;
    padding: $mobile-padding;

    .product-headline {
        color: $black;
        font-weight: 700;
        font-size: 1.6rem;
    }

    .product-ratings {
        display: block;
        font-size: .75rem;
    }


    img {
        width: 80px !important;
    }


    .product-text {
        margin: 24px auto;
    }

    .add-to-cart {
        background-color: white;
        //border-top: 1px rgba(6, 6, 6, 0.33) solid;
        display: inline-block;
        margin-bottom: 2em;
        //box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 5px 0 15px rgba(0, 0, 0, 0.1);
        //padding: 12px;
        width: 100%;
        z-index: 97;
        //-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 5px 0 15px rgba(0, 0, 0, 0.1);

        .shopify-buy__product {
            .shopify-buy__product__price {
                color: $black;
                font-weight: 700;
                font-size: 1.5rem;
                text-align: center;
            }

            .shopify-buy__btn-and-quantity {
                display: flex;

                .shopify-buy__quantity-container {
                    input {
                        color: black;
                        width: 72px;
                        height: 40px;
                        font-size: 16px;
                        border: 1px $black solid;
                        border-radius: 3px 0 0 3px;
                        text-align: center;
                        -webkit-appearance: none;
                        -moz-appearance: textfield;
                        display: inline-block;
                        padding: 12px;
                    }
                }

                .shopify-buy__btn-wrapper {
                    width: calc(100vw - 96px;);

                    button {
                        background-color: $black;
                        border: 1px $black solid;
                        border-radius: 0 3px 3px 0;
                        color: white;
                        font-size: 16px;
                        font-weight: 700;
                        height: 40px;
                        width: 100%;

                        &:hover {
                            cursor: pointer;
                            background-color: #383838;
                            border: 1px #383838 solid;
                        }
                    }
                }
            }
        }
    }

    @media screen and (min-width: $desktop) {
        padding: 0 3em;
        position: -webkit-sticky;
        position: sticky;
        top: 6em;
        /*background-color: white;*/
        .add-to-cart {
            background-color: none;
            border-top: none;
            box-shadow: 0;
            display: block;
            padding: 0;
            position: relative;
            width: auto;
            -webkit-box-shadow: none;

            .shopify-buy__product {
                .shopify-buy__product__price {
                    color: $black;
                    font-weight: 700;
                    font-size: 1.5rem;
                    margin-bottom: 12px;
                    text-align: center;
                }

                .shopify-buy__btn-and-quantity {
                    display: flex;

                    .shopify-buy__quantity-container {
                        input {
                            color: black;
                            width: 72px;
                            height: 40px;
                            font-size: 16px;
                            border: 1px $black solid;
                            border-radius: 3px 0 0 3px;
                            text-align: center;
                            -webkit-appearance: none;
                            -moz-appearance: textfield;
                            display: inline-block;
                            padding: 12px;
                        }
                    }

                    .shopify-buy__btn-wrapper {
                        width: 100%;

                        button {
                            background-color: $black;
                            border: 1px $black solid;
                            border-radius: 0 3px 3px 0;
                            color: white;
                            font-size: 16px;
                            font-weight: 700;
                            height: 40px;
                            width: 100%;

                            &:hover {
                                cursor: pointer;
                                background-color: #383838;
                                border: 1px #383838 solid;
                            }
                        }
                    }
                }
            }
        }
    }
}
