.twelveinch-text {
    margin: 0 auto 40px;
    padding: 0 25px;
    color: #1f1f1f;

    @media screen and (min-width: $desktop) {
        margin: 0 auto 30px;
        max-width: 720px;
        padding: 0 40px;
    }

    p {
        margin-bottom: 15px;
    }
}
