.reg-button {
    background-color: $black;
    border-radius: 3px;
    color: $grey;
    display: block;
    font-size: 1em;
    font-weight: 500;
    margin: 0 auto;
    padding: 12px 36px;
    text-align: center;

    @media screen and (min-width: $desktop) {
        font-size: 0.8em;
        width: fit-content;
        width: -webkit-fit-content;
    }

    &:hover {
        background-color: $red;
        color: $grey;
    }
}
