.TwelveinchButton {
    display: block;
    width: fit-content;
    width: -webkit-fit-content;
    padding: 6px 18px;
    margin: 0 auto;
    background-color: $black;
    color: $grey;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 900;

    @media screen and (min-width: $desktop) {
        font-size: 0.8em;
    }

    &:hover {
        background-color: $red;
        color: $grey;
    }
}
