.TwelveinchAddress {
    margin: 20px auto;
    padding: 0 25px;

    @media screen and (min-width: $desktop) {
        max-width: 500px;
        margin: 40px auto;
        padding: 0 40px;
        text-align: center;
    }
}
