.container {
    width: auto;
    max-width: 100%;
}

.columns:not(:last-child) {
    margin-bottom: 0;
}

.column {
    padding: 0;
}

.columns-25-25-25-25 {
    .column {
        margin: 0 1em;
    }
}

@media screen and (min-width: 768px) {
    .columns-25-25-25-25 {
        display: flex;
        flex-wrap: wrap;

        .column {
            &:first-child, &:nth-child(2), &:nth-child(3), &:last-child {
                flex-basis: calc(50% - 1.5em);
            }
            &:first-child, &:nth-child(3) {
                margin-right: .5em;
            }
            &:nth-child(2), &:last-child {
                margin-left: .5em;
            }
        }
    }
}

@media screen and (min-width: $desktop) {

    .columns-66-33 {
        display: flex;

        .column {
            &:first-child {
                flex-grow:3;
                border-bottom: 1px $line-color solid;
            }

            &:last-child {
                flex-grow:2;
                border-left: 1px $line-color solid;
                border-bottom: 1px $line-color solid;
            }
        }

        .main-image {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .columns-33-66 {
        display: flex;

        .column {
            &:first-child {
                flex-grow:2;
            }

            &:last-child {
                flex-grow:3;
            }
        }
    }

    .columns-50-50 {
        display: flex;

        .column {
            &:first-child {
                flex-grow:1;
            }

            &:last-child {
                flex-grow:1;
            }
        }
    }

    .columns-33-33-33 {
        display: flex;

        .column {
            &:first-child {
                flex-grow: 1;
            }

            &:nth-child(2) {
                flex-grow: 1;
            }

            &:last-child {
                flex-grow: 1;
            }
        }
    }

    .columns-25-25-25-25 {
        display: flex;
        flex-wrap: nowrap;

        .column {
            margin: 0;

            &:first-child, &:nth-child(2), &:nth-child(3), &:last-child {
                flex-grow:1;
                flex-basis: 25%;
            }

            &:first-child, &:nth-child(2), &:nth-child(3) {
                margin-right: .5em;
            }

            &:nth-child(2), &:last-child {
                margin-left: 0;
            }
        }
    }

    section {
        .columns-50-50 {
            display: flex;

            .column {
                &:first-child {
                    flex-grow:1;
                    margin-right: .25em;
                }

                &:last-child {
                    flex-grow:1;
                    margin-left: .25em;
                }
            }
        }

        .columns-33-66 {
            display: flex;

            .column {
                &:first-child {
                    flex-grow: 2;
                    margin-right: .25em;
                }

                &:last-child {
                    flex-grow: 3;
                    margin-left: .25em;
                }
            }
        }

        .columns-66-33 {
            display: flex;

            .column {
                &:first-child {
                    flex-grow: 3;
                    border-bottom: none;
                    margin-right: .25em;
                }

                &:last-child {
                    flex-grow: 2;
                    border-left: none;
                    border-bottom: none;
                    margin-left: .25em;
                }
            }
        }

        .columns-33-33-33 {
            display: flex;

            .column {
                &:first-child, &:nth-child(2) {
                    margin-right: .5em;
                }
            }
        }

        .columns-25-50-25 {
            display: flex;

            .column {
                &:first-child {
                    flex-grow: 1;
                }
                &:nth-child(2) {
                    flex-grow: 2;
                }
                &:last-child {
                    flex-grow: 1;
                }
            }
        }

        .columns-25-25-25-25 {
            display: flex;

            .column {
                &:first-child, &:nth-child(2),&:nth-child(3) {
                    margin-right: .5em;
                }
            }
        }
    }
}
