body {
    color: $black-lighter;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5, {
    color: $black;
    font-weight: 900;
    line-height: 1.2;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

h6 {
    font-weight: 700;
    line-height: 2;
}

main {
    p {
        font-size: 1em;
        @media screen and (min-width: $desktop) {
            font-size: 1.1em;
        }
    }
}
