
.is-active {
    overflow: hidden;
}


$animate: all 0.5s ease-in-out;

@keyframes wiggle {
    0% {transform: translateX(0px)}
    25% {transform: translateX(2px)}
    50% {transform: translateX(0px)}
    75% {transform: translateX(-2px)}
}

.hide {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);
}

.show {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform .8s cubic-bezier(0.16, 1, 0.3, 1);
}

.navigation {

    .navigation-bar {
        position: fixed;
        width: 100vw;
        background-color: white;
        z-index: 99;

        .banner {
            display: block;
            background-color: $black;
            padding: 5px 30px;
            position: relative;

            .banner-content {
                display: block;
                color: white;
                text-align: center;

                p {
                    font-weight: 500;
                    font-size: 12px;
                }
            }

            .closeBanner {
                display: block;
                height: 18px;
                right: 18px;
                top: 50%;
                transform: translate(0,-50%);
                position: absolute;
                width: 18px;

                &:hover {
                    cursor: pointer;
                }

                @media screen and (min-width: 767px) {
                    right: 24px;
                }

                span {
                    background-color: white;
                    content: "";
                    display: block;
                    height: 2px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translate(-50%,-50%);
                    width: 18px;

                    &:first-child {
                        transform: rotate(-45deg);
                    }

                    &:last-child {
                        transform: rotate(45deg);
                    }
                }
            }
        }

        .bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 18px 1.5em;
            border-bottom: 1px rgba(6, 6, 6, 0.33) solid;

            .open-navigation {
                span {
                    display: block;
                    background-color: $black;
                    width: 25px;
                    height: 2px;

                    &:first-child, &:nth-child(2) {
                        margin-bottom: 3px;
                    }

                    &:nth-child(2) {
                        margin-left: 3px;
                    }
                }

                &:hover {
                    animation: wiggle .1s ease-in-out;

                    span {
                        background-color: $red;
                    }
                }
            }

            .logo {
                img {
                    display: block;
                }
            }
        }
    }

    .navigation-menu {
        display: block;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        z-index: 99;
        background-color: white;
        overflow: scroll;
        height: 100vh;
        width: 100vw;
        padding: 32px;
        transition: transform 0.25s .5s cubic-bezier(0.16, 1, 0.3, 1);
        animation-fill-mode: both;

        &.is-active {
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 5px 0 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 5px 0 15px rgba(0, 0, 0, 0.1);
        }

        &.is-active {
            transform: translateX(0);
            transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);

            .navigation-list {
                ul {
                    li {
                        a {
                            transform: translateY(0) skewY(0);
                            transition: transform 0.9s 0.25s cubic-bezier(0.16, 1, 0.3, 1);
                        }
                        &:nth-child(1) {a {transition-delay: .1s;}}
                        &:nth-child(2) {a {transition-delay: .15s;}}
                        &:nth-child(3) {a {transition-delay: .2s;}}
                        &:nth-child(4) {a {transition-delay: .25s;}}
                        &:nth-child(5) {a {transition-delay: .3s;}}
                        &:nth-child(6) {a {transition-delay: .35s;}}
                    }
                }
            }
        }

        .close-menu {
            display: block;
            position: relative;
            margin: 0 0 0 auto;
            height: 30px;
            width: 30px;

            &:hover {
                animation: wiggle .1s ease-in-out;
                span {
                    background-color: $red;
                }
            }

            span {
                display: block;
                position: absolute;
                top: 50%;
                left: 2.5px;
                background-color: $black;
                width: 25px;
                height: 2px;

                &:first-child {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
        }

        .navigation-list {
            .navigation-items {
                li {
                    overflow: hidden;

                    a {
                        display: block;
                        transform: translateY(100%) skewY(-15deg);
                        transition: transform 0.9s 0.25s cubic-bezier(0.16, 1, 0.3, 1);
                        font-size: 10vw;
                        font-weight: 900;
                        color: $black;

                        &:hover {
                            color: $red;
                        }
                    }
                }
            }
        }

        .newsletter-cta, .social-cta {
            margin: 24px 0;

            header {
                font-weight: 700;
                font-size: 12px;
                margin-bottom: 6px;
            }

            p {
                font-weight: 400;
                font-size: 10px;
                margin-bottom: 12px;
            }

            input {
                width: 100%;
                padding: 4px;
                border: none;
                border-bottom: 2px $black solid;
            }

            a {
                display: inline-grid;
                margin-top: 6px;
                margin-right: 10px;
            }
        }

        .find-stores {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            display: flex;
            height: 32px;
            justify-content: space-between;
            align-items: center;
            border-radius: 3px;
            border: 1px $black solid;
            padding: 6px 12px;
            margin: 6px 0;
            color: $black;

            &:hover {
                color: $black;
                background-color: $grey;
            }

            span {
                font-size: 12px;
                font-weight: 500;
            }

            img {
                float: right;
                height: 100%;
            }
        }

        .language-selector {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            display: flex;
            height: 32px;
            justify-content: space-between;
            align-items: center;
            border-radius: 3px;
            margin: 6px 0;
            border: 1px $black solid;
            padding: 6px 12px;
            color: $black;

            &:hover {
                cursor: pointer;
                background-color: $grey;

                ul {
                    li {
                        a {
                            color: $black;
                        }
                    }
                }
            }

            ul {
                li {
                    a {
                        color: $black;
                        font-size: 12px;
                        font-weight: 500;
                    }
                }
            }
            img {
                float: right;
                height: 100%;
                margin: 0 3px;
            }
        }

        .copyright {
            margin-top: 30px;
            font-weight: 700;
            font-size: 10px;
            line-height: 1;
        }

        .secondary-links {
            a {
                color: $dark-grey;
                font-size: 10px;
                font-weight: 400;
                text-decoration: underline;
                margin-right: 12px;

                &:hover {
                    color: $black;
                }
            }
        }

        @media screen and (min-width: 767px) {
            width: 420px;
            border-right: 1px rgba(6, 6, 6, 0.33) solid;

            .newsletter-cta, .social-cta, {
                margin: 40px 0;

                header {
                    font-size: 16px;
                }

                p {
                    font-size: 12px;
                }
            }

            .copyright {
                font-size: 12px;
            }

            .secondary-links {
                a {
                    font-size: 12px;
                }
            }

            .navigation-list {
                .navigation-items {
                    .navigation-item {
                        a {
                            font-size: 55px;
                        }
                    }
                }
            }
        }
    }
}
