.hero-content {
    position: relative;
}

.hero-image {
    display: flex;
    margin: 0 auto;
    height: 62vh;

    img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media screen and (min-width: $desktop) {
        width: 100%;
        height: calc(100vh - 61px);
        max-height: 940px;
    }
}

.hero-cta {
    bottom: 1.5em;
    border-bottom: none;
    left: 1.5em;
    overflow: hidden;
    padding: 20px;
    position: absolute;
    width: 80%;

    .hero-headline {
        display: block;
        margin-bottom: 12px;

        h1 {
            font-size: 3em;
            font-weight: 900;
            line-height: 1;
            color: white;
            text-shadow: 0 0 20px #07070778;
            //text-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 0, 0, 0.1);
        }
    }

    .hero-button {
        align-items: center;
        border-bottom: 2px transparent solid;
        color: white;
        display: flex;
        font-weight: 700;
        font-size: 1.5em;
        text-shadow: 0 0 20px #07070778;
        width: -webkit-fit-content;

        &:hover {
            border-bottom: 2px white solid;
        }

        img {
            height: 18px;
            width: 18px;
            margin-left: 12px;
            transform: rotate(-90deg);
        }
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        bottom: calc(4em - 20px);
        left: calc(4em - 20px);
        //transform: translate(-50%, 0);
        border-bottom: none;

        .hero-headline {
            margin-bottom: 6px;

            h1 {
                color: white;
                font-size: 4em;
                text-transform: uppercase;
            }
        }

        .hero-button {
            //width: 40%;
        }
    }
}
