.imageBanner {
    display: block;
    margin: 0 calc(25px - 0.4rem);
    height: auto;
    width: auto;

        @media screen and (min-width: $desktop) {
            margin: 0 auto;
            width: auto;
            height: auto;
            max-width: 1500px;
            padding: 0 40px;
        }

    img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}
