.visuallyhidden {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.component-container {
    overflow: hidden;
}

.shopify-buy__type--center {
    text-align: center;
}

.shopify-buy--visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.shopify-buy__cart {
    html, body, h1, h2, h3, h4, h5, p {
      padding: 0;
      margin: 0;
    }

    * {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
    }

    body,
    html {
      min-height: 100%;
    }

    html {
      font-size: 16px;
      line-height: 1.2;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }

    select {
      text-rendering: auto !important;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    img {
      display: block;
      max-width: 100%;
    }

    input {
      -webkit-appearance: textfield;
      margin: 0;
    }

    .clearfix:after {
        content: "";
        display: table;
        clear: both;
    }

    .shopify-buy__btn__counter {
      display: block;
      margin: 0 auto 10px auto;
      font-size: 18px;
    }


    .shopify-buy__btn[disabled] {
      background-color: #999;
      pointer-events: none;
    }

    .shopify-buy__quantity-decrement,
    .shopify-buy__quantity-increment {
      color: $black;
      display: block;
      height: 24px;
      float: left;
      line-height: 16px;
      font-family: monospace;
      width: 24px;
      padding: 0;
      border: none;
      background: transparent;
      -webkit-box-shadow: none;
              box-shadow: none;
      cursor: pointer;
      font-size: 18px;
      text-align: center;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: 1px solid $black;
      position: relative
    }
    .shopify-buy__quantity-decrement svg, .shopify-buy__quantity-increment svg {
        width: 14px;
        height: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -6px;
        margin-left: -7px;
        fill: currentColor;
      }
    .shopify-buy__quantity-decrement {
      border-radius: 3px 0 0 3px;
    }
    .shopify-buy__quantity-increment {
      border-radius: 0 3px 3px 0;
    }
    .shopify-buy__quantity {
      color: black;
      width: 36px;
      height: 24px;
      font-size: 14px;
      border: none;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: textfield;
      display: inline-block;
      padding: 0;
      border-radius: 0;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    @-webkit-keyframes flipIn {
      from {
        max-height: 0;
        -webkit-transform: rotatex(90deg) translatey(-50%);
                transform: rotatex(90deg) translatey(-50%);
        margin-bottom: -65px;
        opacity: 0;
      }

      to {
        max-height: none;
        -webkit-transform: none;
                transform: none;
        margin-bottom: 20px;
        opacity: 1;
      }
    }
    @keyframes flipIn {
      from {
        max-height: 0;
        -webkit-transform: rotatex(90deg) translatey(-50%);
                transform: rotatex(90deg) translatey(-50%);
        margin-bottom: -65px;
        opacity: 0;
      }

      to {
        max-height: none;
        -webkit-transform: none;
                transform: none;
        margin-bottom: 20px;
        opacity: 1;
      }
    }
    @-webkit-keyframes flipOut {
      from {
        max-height: none;
        -webkit-transform: none;
                transform: none;
        margin-bottom: 20px;
        opacity: 1;
      }

      to {
        max-height: 0;
        -webkit-transform: rotatex(90deg) translatey(-50%);
                transform: rotatex(90deg) translatey(-50%);
        margin-bottom: -65px;
        opacity: 0;
      }
    }
    @keyframes flipOut {
      from {
        max-height: none;
        -webkit-transform: none;
                transform: none;
        margin-bottom: 20px;
        opacity: 1;
      }

      to {
        max-height: 0;
        -webkit-transform: rotatex(90deg) translatey(-50%);
                transform: rotatex(90deg) translatey(-50%);
        margin-bottom: -65px;
        opacity: 0;
      }
    }
    .shopify-buy__cart-wrapper {
      height: 100%;
      padding-left: 10px;
    }
    .shopify-buy__cart {
      height: 100%;
      background-color: #fff;
      width: 100%;
      position: absolute;
      right: 0;
    }
    .shopify-buy__cart__header {
      padding: 20px;
      padding-right: 40px;
      position: relative;
      z-index: 2147483647;
      background-color: inherit;
    }
    .shopify-buy__cart__title {
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .shopify-buy__cart-scroll {
      padding: 65px 0 145px 0;
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
    }
    .shopify-buy__cart-scroll--discounts {
      padding-bottom: 170px;
    }
    .shopify-buy__cart-scroll--cart-note {
      padding-bottom: 200px;
    }
    .shopify-buy__cart-scroll--cart-note.shopify-buy__cart-scroll--discounts {
      padding-bottom: 230px;
    }
    .shopify-buy__cart-items {
      overflow: hidden;
      overflow-y: auto;
      height: 100%;
      position: relative;
      padding: 20px;
      -webkit-overflow-scrolling: touch;
      -webkit-perspective: 400px;
              perspective: 400px;
      -webkit-perspective-origin: 50% 0px;
              perspective-origin: 50% 0px;
    }
    .shopify-buy__cart-item {
      min-height: 150px;
      margin-bottom: 20px;
      overflow: hidden;
      position: relative;
      -webkit-backface-visibility: visible;
              backface-visibility: visible;
      -webkit-animation: 200ms flipIn forwards;
              animation: 200ms flipIn forwards;
    }
    .shopify-buy__cart-item.is-hidden {
      -webkit-animation-name: flipOut;
              animation-name: flipOut;
    }
    .shopify-buy__cart-item__image {
      width: 150px;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: transparent;
      display: inline-block;
      float: left;
      margin-right: 18px;
    }
    .shopify-buy__cart-item__title {
      font-size: 16px;
      font-weight: 500;
      //margin-left: 100px;
      margin-bottom: 3px;
      margin-top: 12px;
      display: block;
    }
    .shopify-buy__cart-item__price {
      float: right;
      font-size: 16px;
      font-weight: bold;
      line-height: 26px;
    }
    .shopify-buy__cart-item__price-and-discounts {
      //float: right;
      //text-align: left;
      //max-width: 100px
      position: absolute;
      bottom: 24px;
      right: 0;
    }
    .shopify-buy__cart-item__price-and-discounts .shopify-buy__cart-item__price {
        float: none;
      }
    .shopify-buy__cart-item__full-price {
      font-size: 12px;
      line-height: 12px;
    }
    .shopify-buy__cart-item__discount {
      font-size: 12px;
      word-wrap: break-word;
      text-transform: uppercase
    }
    .shopify-buy__cart-item__discount + .shopify-buy__cart-item__discount {
        margin-top: 5px;
      }
    .shopify-buy__cart-item__discount__icon {
      width: 12px;
      height: 12px;
      vertical-align: top;
      fill: currentColor;
    }
    .shopify-buy__cart-item__variant-title {
      margin-left: 80px;
      margin-bottom: 10px;
      color: #4c4c4c;
      font-size: 12px;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .shopify-buy__cart-bottom {
      background-color: #fff;
      position: absolute;
      width: 100%;
      bottom: 0;
      padding: 15px 20px 20px 20px;
      -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 -5px 15px rgba(0, 0, 0, 0.1);
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1), 0 -5px 15px rgba(0, 0, 0, 0.1);
    }
    .shopify-buy__cart__subtotal__text {
      text-transform: uppercase;
      float: left;
      font-size: 1em;
      font-weight: 700;
      color: #4c4c4c;
    }
    .shopify-buy__cart__subtotal__price {
      float: right;
      font-weight: 700;
    }
    .shopify-buy__cart__discount {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 10px;
      color: #4c4c4c;
    }
    .shopify-buy__cart__discount__text {
      font-size: 11px;
      text-transform: uppercase;
      margin-right: 10px;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
          -ms-flex-positive: 1;
              flex-grow: 1;
    }
    .shopify-buy__cart__discount__text__icon {
      width: 11px;
      height: 11px;
      vertical-align: top;
      fill: currentColor;
    }
    .shopify-buy__cart__discount__amount {
      font-size: 12px;
      line-height: 12px;
      -webkit-flex-shrink: 0;
          -ms-flex-negative: 0;
              flex-shrink: 0;
    }
    .shopify-buy__cart__currency {
      font-size: 12px;
    }
    .shopify-buy__cart__notice {
      font-size: 11px;
      clear: both;
      padding-top: 10px;
      text-align: center;
      color: #4c4c4c;
    }
    .shopify-buy__cart__note {
      clear: both;
      padding-top: 10px;
    }
    .shopify-buy__cart__note__description {
      font-size: 11px;
      color: #4c4c4c;
    }
    .shopify-buy__cart__note__text-area {
      resize: none;
      font-size: 11px;
      width: 100%;
      color: #4c4c4c;
    }
    .shopify-buy__cart-empty-text {
      padding: 10px 15px;
      text-align: center;
    }
    .shopify-buy__btn--cart-checkout {
      clear: both;
      margin-top: 15px;
      width: 100%;
      padding: 10px 5px;
      font-size: 16px;
    }
    .shopify-buy__quantity-container {
      margin-left: 100px;
      margin-right: 80px;
      height: 26px;
      line-height: 26px;
    }
    .shopify-buy__quantity-container.is-loading {
      opacity: 0.65;
      pointer-events: none;
    }
    .shopify-buy__cart-item__quantity-input {
      float: left;
      background: transparent;
    }
    @media (max-width: 330px) {
      .shopify-buy__cart-item__price-and-discounts {
        max-width: 90px;
      }

      .shopify-buy__quantity-container {
        margin-right: 90px;
      }
    }
    .shopify-buy__cart-toggle-wrapper {
      display: inline-block;
    }

    .shopify-buy__btn--cart-checkout {
        background-color: $black;
        border: 1px $black solid;
        border-radius: 3px;
        color: white;
        font-weight: 700;

        &:hover {
            background-color: $black-hover;
            cursor: pointer;
        }
    }
}

.shopify-buy__cart-toggle {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    margin-right: 0;
    cursor: pointer;
    -webkit-transition: background 200ms ease;
    transition: background 200ms ease;
}

.shopify-buy-frame--toggle:not(.is-sticky) {
    padding: 0 !important;
    height: 18px;
    width: 18px;
    //margin-left: 9px;
}

.cart {
    .shopify-buy__icon-cart__group {
        fill: $black;
    }
    &:hover {
        .shopify-buy__icon-cart__group {
            fill: $red;
        }
    }
}

.shopify-buy--visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

.shopify-buy-frame--cart {
    position: sticky;
    background-color: white;
    top: 0;
    right: 0;
    height: 100vh;
    min-width: 100vw !important;
    z-index: 99;
    transform: translateX(100%);
    -webkit-transform: translateX(100%);

    &.is-active {
        -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), -5px 0 15px rgba(0, 0, 0, 0.1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1), -5px 0 15px rgba(0, 0, 0, 0.1);
    }

    .shopify-buy__cart {
        .shopify-buy__cart__header {
            border-bottom: 1px rgba(6, 6, 6, 0.33) solid;
            display: flex;
            justify-content: space-between;
            align-items: center;

            h2 {
                font-size: 1.25em;
                font-weight: 500;
            }

            button:focus { outline: none; }

            .shopify-buy__btn--close {
                position: absolute;
                top: 0;
                right: 12px;
                font-size: 40px;
                font-weight: 300;
                color: $black;
                border: none;
                background-color: transparent;
                -webkit-transition: color 100ms ease, -webkit-transform 100ms ease;
                transition: color 100ms ease, -webkit-transform 100ms ease;
                transition: transform 100ms ease, color 100ms ease;
                transition: transform 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
                cursor: pointer;

                &:hover {
                    color: $red;
                }
            }
        }
    }

    @media screen and (min-width: 767px) {
        max-width: 420px !important;
        min-width: 420px !important;
        border-left: 1px rgba(6, 6, 6, 0.33) solid;
    }
}



.backend-add-to-cart {
    background-color: $black;
    border-radius: 3px;
    color: white;
    display: block;
    margin: 0 24px;
    padding: 6px;
    text-align: center;
}
