.product-carousel {
    margin: 0 0 .5em 0;
    height: 450px;

    @media screen and (min-width: 768px) {
          height: 600px;
      }

    .carousel-cell {
        align-items: center;
        display: flex;
        height: 450px;
        justify-content: center;
        margin-right: .5em;
        overflow: hidden;
        width: 100%;

        &:last-child {
            margin-right: 0;
        }

      @media screen and (min-width: 768px) {
            width: 70%;
            min-width: 540px;
            height: 600px;
        }
    }

    .carousel-cell-wide {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .carousel-cell-wide {
            width: 100%;
        }
    }

    .carousel-cell img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .flickity-prev-next-button {
        height: 36px;
        width: 36px;
        color: $black;
    }

    .flickity-button {
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(5px);

        .flickity-button-icon {
            left: 25%;
            top: 25%;
            height: 50%;
            width: 50%;
        }

        &:disabled {
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
        }
    }

    @media screen and (min-width: 768px) {
        //margin: .5em;
    }
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.mySlides {
  display: none;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  width: auto;
  padding: 16px;
  color: $black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 43%;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 43%;
  border-radius: 3px 0 0 3px;
}
.numbertext {
  color: $black;
  font-size: 14px;
  padding: 16px;
  position: absolute;
  bottom:13px;
  right: 50%;
  transform: translateX(50%);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
