.productInfoContainer {
    background-color: $white;
    display: block;
    margin: 0 auto;

        @media screen and (min-width: $desktop) {
            max-width: calc(1500px - 80px);
            padding: 60px 90px;
            margin: 0 40px calc(1.5rem - 0.35rem);
        }
        @media screen and (min-width: 1500px) {
            margin: 0 auto calc(1.5rem - 0.35rem);
        }

    .productSKU, .productWeight, .productDimensions, .productInfo {
        display: flex;
        margin-bottom: 5px;

        span {
            min-width: 180px;
            margin-right: 15px;
        }
    }
}
