.faq-content {
    margin: 0 auto 40px;
    padding: 0 25px;

    p {
        font-size: .9em;
        font-weight: 300;
        margin-bottom: .9em;
    }

    .question {
        display: flex;
        justify-content: space-between;
        cursor: pointer;

        p {
            font-size: 1.2em;
            font-weight: 400;
            margin-bottom: 10px;
        }

        h2 {
            padding-right: 40px;
        }

        .cross {
            display: block;
            position: absolute;
            right: 0;
            top: 10px;
            height: 15px;
            width: 15px;

            span {
                display: block;
                position: absolute;
                background-color: $black;
                height: 2px;
                width: 15px;

                &:last-child {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .active {
        transition: .3s ease-out-quad;

        .cross {

            span {
                &:last-child {
                    display: none;
                }
            }
        }
    }

    .answer {
        display: none;

        p {
            padding-right: 40px;
        }
    }

    @media screen and (min-width: $desktop) {
        max-width: 840px;
        padding: 0 40px;
    }
}
