.twelveinch-footer {
    background-color: $scheme-main;

    span {
        display: block;
        margin: 0 auto 1.5rem;
        height: 1px;
        background-color: #000;
        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    .footerMenu {
        ul {
            li {
                font-weight: 600;
                text-transform: uppercase;
                margin: 0 !important;

                @media screen and (min-width: $desktop)  {
                    &:after {
                        content: '/';
                        margin: 0 15px;
                    }

                    &:last-child {
                        &:after {
                            content: '';
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .footerAddress{
        ul {
            li {
                margin-top: 10px;

                &:first-child {
                    font-weight: 600;
                    margin-bottom: 10px;

                    @media screen and (min-width: $desktop) {
                        display: none;
                    }
                }
            }
        }
    }

    .footerMenu, .footerAddress {
    display: inline-flex;
    width: calc(50% - .5rem);

        ul {
            color: $black;
            margin: 15px 0;
            font-size: 15px;

            li {
                display: block;
                list-style: none;

                a {
                    color: $black;

                    &:hover {
                        color: $red;
                    }
                }
            }
        }

        @media screen and (min-width: $desktop) {
            display: flex;
            width: 100%;

                ul {
                    margin: 10px auto;
                    font-size: 12px;

                    li {
                        display: inline-block;
                        margin: 0 9px;
                    }
                }
        }
    }

    .SoMe-icons {
        display: flex;
        margin: 10px auto;
        align-items: center;
        justify-content: center;

        a {
            padding: 0 5px;
        }

    }

    img {
        display: block;
        margin: 10px auto;
    }

    .copyright {
        font-size: 10px;
        text-align: center;
        text-transform: uppercase;
    }
}
