.twelveinch-footer {
    background-color: $scheme-main;

    ul {
        color: $black;
        margin: 15px 0;
        font-size: 12px;

        li {
            display: inline-block;
            list-style: none;
            margin: 0 15px;

            a {
                color: $black;

                &:hover {
                    color: $red;
                }
            }
        }
    }

    .copyright {
        font-size: 10px;
        text-transform: uppercase;
    }
}
