.TwelveinchSeoText {
    margin: 0 auto;
    padding: 0 25px;
    color: #1f1f1f;

    @media screen and (min-width: $desktop) {
        margin: 0 auto;
        max-width: 840px;
        padding: 0 40px;
        text-align: center;
    }

    p {
        margin-bottom: 30px;
    }

    .SeoHeadline {
        font-size: 1.2em;
        font-weight: 900;
        text-transform: uppercase;

        p {
            margin-bottom: 15px;
            @media screen and (min-width: $desktop) {
                margin-bottom: 20px;
            }
        }
    }
}
