.TwelveinchSeoText {
    margin: 15px auto;
    max-width: 780px;
    padding: 0 40px;
    color: #1f1f1f;

    @media screen and (min-width: $desktop) {
        text-align: center;
    }

    p {
        margin-bottom: 15px;
    }

    .SeoHeadline {
        font-size: 1.2em;
        font-weight: 900;
        text-transform: uppercase;

        p {
            margin-bottom: 20px;
        }
    }
}
