.main-image {
    display: block;
    //height: 62vh;
    object-fit: cover;
    object-position: left;
    margin-bottom: .5em;

    @media screen and (min-width: $desktop) {
        height: auto;
    }
}
