.TwelveinchHeader {
    margin: 25px auto 40px;
    padding: 0 25px;
    color: #1f1f1f;

    @media screen and (min-width: $desktop) {
        margin: 60px auto;
        max-width: 840px;
        padding: 0 40px;
        text-align: center;
    }

    p {
        margin-bottom: 15px;
    }

    .HeaderHeadline {
        font-size: 2em;
        text-transform: uppercase;

        h1 {
            margin-bottom: 0px;
        }

        p {
            font-weight: 900;
        }
    }
}
