@charset "utf-8";

@font-face {
    font-family: 'Manrope';
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Manrope-ExtraBold.ttf") format("truetype"),;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/Manrope-SemiBold.ttf") format("truetype"),;
}

/*@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/Manrope-Regular.ttf") format("truetype"),;
}*/

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Manrope-Regular.ttf") format("truetype"),;
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Manrope-Light.ttf") format("truetype"),;
}

[data-aos="custom"] {
  transform: translateY(110%);

  &.aos-animate {
    transform: translateY(0);
  }
}

@import "../node_modules/bulma/sass/utilities/initial-variables";

$black: #1f1f1f;
$dark-grey: #4f4f4f;
$grey: #f8f8f8;
$red: #FF6666;
$green: #1DCC89;
$family-sans-serif: 'Manrope', "Helvetica", "Arial", sans-serif;
$primary: $black;
$primary-invert: $grey;

@import "../node_modules/bulma/bulma";

// Components
@import "../../../Private/Fusion/Component/Footer/Footer";
@import "../../../Private/Fusion/Content/Text/Text";
@import "../../../Private/Fusion/Content/SeoText/SeoText";
@import "../../../Private/Fusion/Content/HeroText/HeroText";
@import "../../../Private/Fusion/Component/Header/TiHeader";
@import "../../../Private/Fusion/Content/Hero/Hero";
@import "../../../Private/Fusion/Content/ProductItem/ProductItem";
@import "../../../Private/Fusion/Content/ProductGrid/ProductGrid";
@import "../../../Private/Fusion/Content/Headline/Headline";
@import "../../../Private/Fusion/Content/FAQ/FAQ";
@import "../../../Private/Fusion/Content/Address/Address";
@import "../../../Private/Fusion/Content/ImageCaption/ImageCaption";
@import "../../../Private/Fusion/Content/Button/Buttons";
@import "../../../Private/Fusion/Content/Instagram/Instagram"
