@charset "utf-8";
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
$black: #070707;
$black-lighter: #2d2d2d;
$black-hover: #383838;
$dark-grey: #4f4f4f;
$grey: #f8f8f8;
$darker-grey: #f2f2f2;
$red: #FF6666;
$yellow: #ffd94c;
$green: #1DCC89;
$family-sans-serif: 'Heebo', "Helvetica", "Arial", sans-serif;
$primary: $black;
$primary-invert: $grey;
$mobile-padding: 0 1.5em;
$desktop-padding: 0;
$line-color: rgba(6, 6, 6, 0.33);

// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";

// 5. Add own stylesheets
@import "../../../Private/Styles/scss/Fonts";
@import "../../../Private/Styles/scss/Footer";
@import "../../../Private/Styles/scss/Text";
@import "../../../Private/Styles/scss/StatementText";
@import "../../../Private/Styles/scss/SeoText";
@import "../../../Private/Styles/scss/ShortReview";
//@import "../../../Private/Styles/scss/HeroArticle";
//@import "../../../Private/Styles/scss/Header";
//@import "../../../Private/Styles/scss/Hero";
@import "../../../Private/Styles/scss/ProductItem";
@import "../../../Private/Styles/scss/ProductGrid";
@import "../../../Private/Styles/scss/Headline";
@import "../../../Private/Styles/scss/FAQ";
@import "../../../Private/Styles/scss/Image";
@import "../../../Private/Styles/scss/Tags";
@import "../../../Private/Styles/scss/Vimeo";
@import "../../../Private/Styles/scss/ImageBanner";
@import "../../../Private/Styles/scss/Address";
@import "../../../Private/Styles/scss/ImageCaption";
@import "../../../Private/Styles/scss/Buttons";
@import "../../../Private/Styles/scss/Slider";
@import "../../../Private/Styles/scss/Newsletter";
@import "../../../Private/Styles/scss/Section";
@import "../../../Private/Styles/scss/Breadcrumb";
@import "../../../Private/Styles/scss/Resource";
@import "../../../Private/Styles/scss/Image";
@import "../../../Private/Styles/scss/Info";
@import "../../../Private/Styles/scss/Columns";
@import "../../../Private/Styles/scss/Dropdown";
@import "../../../Private/Styles/scss/Shop";
@import "../../../Private/Styles/scss/Ratios";
@import "../../../Private/Styles/scss/Description";
@import "../../../Private/Styles/scss/Slider";
@import "../../../Private/Styles/scss/Review";

.has-navbar-fixed-top {
    padding-top: 47px !important;

    @media screen and (min-width: 767px) {
    padding-top: 61px !important;
    }
}

html {
    background-color: $black;
}

main {
    background-color: white;
}
