@charset "utf-8";

@font-face {
    font-family: 'Titillium Web';
    font-weight: 900;
    font-style: normal;
    src: url("../fonts/TitilliumWeb-Black.ttf") format("truetype"),;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 600;
    font-style: normal;
    src: url("../fonts/TitilliumWeb-SemiBold.ttf") format("truetype"),;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-style: italic;
    src: url("../fonts/TitilliumWeb-Italic.ttf") format("truetype"),;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("truetype"),;
}

@font-face {
    font-family: 'Titillium Web';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/TitilliumWeb-Light.ttf") format("truetype"),;
}

@import "../node_modules/bulma/sass/utilities/initial-variables";

$black: #1f1f1f;
$dark-grey: #4f4f4f;
$grey: #f2f2f2;
$red: #FF6666;
$green: #1DCC89;
$family-sans-serif: 'Titillium Web', "Helvetica", "Arial", sans-serif;
$primary: $black;
$primary-invert: $grey;

@import "../node_modules/bulma/bulma";

// Components
@import "../../../Private/Fusion/Component/Footer/Footer";
@import "../../../Private/Fusion/Content/Text/Text";
@import "../../../Private/Fusion/Content/SeoText/SeoText";
@import "../../../Private/Fusion/Content/HeroText/HeroText";
@import "../../../Private/Fusion/Component/Header/TiHeader";
@import "../../../Private/Fusion/Content/Hero/Hero";
@import "../../../Private/Fusion/Content/ProductItem/ProductItem";
@import "../../../Private/Fusion/Content/ProductGrid/ProductGrid";
@import "../../../Private/Fusion/Content/Headline/Headline"
