.statementBox {
    display: block;
    margin: 0 auto 40px;
    padding: 0 25px;
    color: #1f1f1f;

    @media screen and (min-width: $desktop) {
        display: flex;
        margin: 60px auto;
        max-width: 1240px;
        padding: 0 40px;
    }

    .statement {
        font-size: 1.5em;
        font-weight: 600;
        margin-bottom: 0.75rem;
        @media screen and (min-width: $desktop) {
            margin-bottom: 0;
            padding-right: 40px;
        }
    }

    .statementText {
        max-width: 980px;
    }
}
