$link-color: $black;
$link-hover-color: $red;

.column {
    padding: 0 0.4rem;

    @media screen and (min-width: $desktop) {
        padding: 0.75rem;
    }

    @media screen and (max-width: 414px) {
        &.is-half-mobile {
            width: 100%;
        }
    }
}


.productItem {
    margin: 20px auto;
    display: block;

    .productImage, .productImageHover {
        width: 100%;
        object-fit: cover;
    }

    .productImage {
        margin-bottom: 1.5rem;
    }

    .productImageHover {
        display: none;

        @media screen and (min-width: $desktop) {
        opacity: 0;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;

            &:hover {
                opacity: 1;
                /*outline: 1px $dark-grey solid;*/
                cursor: pointer;
            }
        }
    }

    .productItemName {
        font-size: 1em;
        font-weight: 600;
        margin-bottom: 0.5rem;
    }

    .productItemText {
        text-transform: capitalize;
        font-size: 0.8em;
        margin-bottom: 0.25rem;
    }

    .productItemLink {
        display: flex;
        color: $link-color;
        align-items: baseline;

        a {
            font-size: 0.8em;
            font-weight: 300;
        }

        &:hover {
            color: $link-hover-color;
            cursor: pointer;
        }

        img {
            width: auto;
            height: 9px;
            margin-left: 5px;
        }
    }
}
