.hero-content {
    position: relative;
}

.hero-image {
    display: flex;
    margin: 0 auto;
    height: 62vh;

        @media screen and (min-width: $desktop) {
            width: 100%;
            height: calc(100vh - 89px);
            //border-bottom: 1px rgba(6, 6, 6, 0.33) solid;
        }

    img {
        width: 100%;
        object-fit: cover;
        object-position: top left;
    }
}

.hero-cta {
    bottom: 1.5em;
    border-bottom: none;
    left: 1.5em;
    //transform: translate(-50%, 0);
    overflow: hidden;
    position: absolute;
    width: 80%;

    .hero-headline {
        display: block;
        margin-bottom: 12px;

        h1 {
            font-size: 3em;
            font-weight: 900;
            line-height: 1;
            color: white;
            //text-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 0, 0, 0.1);
        }
    }

    .hero-button {
        display: flex;
        //justify-content: center;
        align-items: center;
        //background-color: $black;
        //border-radius: 3px;
        //border: 1px $black solid;
        border-bottom: 2px transparent solid;
        width: -webkit-fit-content;
        //margin: 0 auto;
        //padding: 12px 0;
        font-weight: 700;
        font-size: 1.5em;
        //text-align: center;
        color: white;
        //text-shadow: 0 0 5px rgba(0, 0, 0, 0.2), 0 0 15px rgba(0, 0, 0, 0.15), 0 0 30px rgba(0, 0, 0, 0.1);

        &:hover {
            border-bottom: 2px white solid;
        }

        img {
            height: 18px;
            width: 18px;
            margin-left: 12px;
            transform: rotate(-90deg);
        }
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        bottom: 4em;
        left: 4em;
        //transform: translate(-50%, 0);
        border-bottom: none;

        .hero-headline {
            margin-bottom: 6px;

            h1 {
                color: white;
                font-size: 4em;
                text-transform: uppercase;
            }
        }

        .hero-button {
            //width: 40%;
        }
    }
}
