.hero-content {
    position: relative;
}

.hero-image {
    display: flex;
    margin: 0 auto;
    height: 50vh;

        @media screen and (min-width: $desktop) {
            width: 100%;
            height: calc(95vh - 88px);
            border-bottom: 1px rgba(6, 6, 6, 0.33) solid;
        }

    img {
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}

.hero-cta {
    display: block;
    padding: 40px 20px;
    border-bottom: 1px $black solid;

    .hero-headline {
        display: block;
        margin-bottom: 24px;

        h1 {
            font-size: 35px;
            font-weight: 900;
            line-height: 1;
            color: $black;
        }
    }

    .hero-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $black;
        border-radius: 3px;
        border: 1px $black solid;
        width: 100%;
        margin: 0 auto;
        padding: 12px;
        font-weight: 500;
        text-align: center;
        color: white;

        &:hover {
            background-color: #242424;
        }

        img {
            height: 12px;
            width: 12px;
            margin-left: 12px;
            transform: rotate(-90deg);
        }
    }

    @media screen and (min-width: $desktop) {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-bottom: none;

        .hero-headline {
            h1 {
                font-size: 60px;
            }
        }

        .hero-button {
            width: 40%;
        }
    }
}
