.productGrid {
    margin: 0 calc(25px - 0.4rem);
        flex-wrap: wrap;

        @media screen and (min-width: 415px)  {
            display: flex;
        }

        @media screen and (min-width: $desktop) {
            margin: 0 auto;
            width: 100%;
            max-width: 1500px;
            padding: 0 calc(40px - .4rem);
        }
}
